#header {
    background-color: darkslategray;
    border-color: darkslategray;
}

.my_color {
    color: darkslategray;
}

#home {
    padding-top: 70px;
    background-color: darkgrey;
}

.a-padding {
    padding-top: 70px;
}

.padding {
    padding-top: 100px;
}

.work-size img {
    /*    width: 400px;*/
    /*    height: 250px;*/
}

