<div class="container">
    <br>
    <br>
    <ol class="breadcrumb">
        <li><a href="#">{{filter.colleage}}</a></li>
        <li><a href="#">{{filter.year}}</a></li>
        <li class="active">{{filter.cousera}}</li>
    </ol>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0">
            <div ng-click="filter.colleage='企管' " class="btn btn-success">企业管理学院</div>
            <div ng-click="filter.colleage='物联' " class="btn btn-warning">物联网学院</div>
            <div ng-click="filter.colleage='机电' " class="btn btn-danger">机电工程学院</div>
            <div ng-click="filter.colleage='公共基础课' " class="btn btn-danger">公共基础课</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0" id="year">
            <div ng-click="filter.year='' " class="btn btn-danger"> 不限 </div>
            <div ng-click="filter.year=2010 " class="btn btn-danger"> 2010 </div>
            <div ng-click="filter.year=2011 " class="btn btn-success"> 2011 </div>
            <div ng-click="filter.year=2012 " class="btn btn-info"> 2012 </div>
            <div ng-click="filter.year=2013 " class="btn btn-primary"> 2013 </div>
            <div ng-click="filter.year=2014 " class="btn btn-success"> 2014 </div>
            <div ng-click="filter.year=2015 " class="btn btn-warning"> 2015 </div>
            <div ng-click="filter.year=2016 " class="btn btn-danger"> 2016 </div>
            <div ng-click="filter.year=2017 " class="btn btn-success"> 2017 </div>
            <div ng-click="filter.year=2018 " class="btn btn-info"> 2018 </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-9">
            <angucomplete-alt id="cousera_1" placeholder="Input the keyword and choose your course" pause="100" selected-object="selectedCousera" local-data="couseras" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small" />

        </div>
        <div class="col-xs-3">
            <a ng-click="update()"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>(若列表未变化，点击此处)
        </div>
        <div class="col-xs-12" ng-show="selectedCousera">
            <div ng-show="false">{{filter.cousera = selectedCousera.originalObject.name}}</div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <div class="table-responsive">
        <table class="table">
            <caption></caption>
            <thead>
                <tr>
                    <th>资源名称</th>
                    <th>所属课程</th>
                    <th>年份</th>
                    <th>任课老师</th>
                    <th>上传时间</th>
                    <th>上传用户</th>
                    <!--                    <th>下载次数</th>-->
                    <th>下载链接</th>
                    <th>在线查看</th>
                    <th ng-if="admin>=2">删除资源</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in filterRes">
                    <td>{{file.filename}}</td>
                    <td>{{file.cousera}}</td>
                    <td>{{file.year}}</td>
                    <td>{{file.teacher}}</td>
                    <td>{{file.createdAt}}</td>
                    <td>{{file.postedName}}</td>
                    <!--                    <td>{{file.download_time}}</td>-->
                    <td><a ng-href="{{file.path}}" download="please input your filename">下载</a></td>
                    <td><a ng-href="{{file.path}}">预览(部分支持)</a></td>
                    <td ng-if="admin>=2"> <a ng-click=del(file._id)><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
