<div class="ngdialog-message">
    <div>
        <form ng-submit="doLogin()" class="form-horizontal">
            <fieldset>
                <legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2">
                                登陆
                            </div>
                            <div class="col-xs-offset-3">
                                <a ng-click=openRegister()>
                                    <h6>点此注册</h6>
                                </a>
                            </div>
                        </div>
                    </div>

                </legend>
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="loginData.username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="loginData.password">
                    </div>
                </div>
                <div class="form-group container">
                    <div class="row">
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click here to submit"><i class="fa fa-check fa-3x" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-xs-2 col-xs-offset-1">
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click here to cancel" ng-click=closeThisDialog("Cancel")><i class="fa fa-times fa-3x" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>





